extends layout

block content
  div.container-fluid
    div.row
      div.col-md-4
        h1#title CSGO Web Spectator Panel
      div.col-md-4.text-center
        h2#status Status
      div.col-md-4.text-center
        div.row.text-right
          span.glyphicon.glyphicon-menu-hamburger#showOptions(aria-hidden="true" enabled="false")
        div.row.option
          input(type="checkbox" id="playersSeeScoreboard")
          label(for="playersSeeScoreboard") Players can see this scoreboard
        div.row.option
          input(type="checkbox" id="hideLog")
          label(for="hideLog") Hide log
    div.row
      div.text-center
        h4#map De_dust2
    div.row
      div.col-md-5.playersTeam#teamCt
        div.row.text-center.teamInfo
          h3.col-xs-6.teamName Team CT
          h3.col-xs-6.teamScore 10
        div.players
          - for (var x = 0; x < 5; x++)
            div.row.player(class='player'+x)
              img.col-xs-2.playerImage(src="http://fakeimg.pl/100/")
              div.col-xs-10
                div.row.playerInfo
                  p.playerName.col-xs-6 Matias49
                  p.playerMoney.text-right.col-xs-6 16000
                div.row.playerBars
                  div.row.playerHealth.col-xs-12.col-md-6
                    div.col-xs-2
                      img(src="../images/healthicon.png")
                    div.col-xs-10
                      div.progress
                        div.progress-bar.progress-bar-danger(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;") 30
                  div.row.playerArmor.col-xs-12.col-md-6
                    div.col-xs-2
                      img(src="../images/armorHeadicon.png")
                    div.col-xs-10
                      div.progress
                        div.progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;") 30
                      div.row.moreInfo.hidden-xs.hidden-xm
                div.row.moreInfo.hidden-xs.hidden-xm
                  p.playerKills.col-md-3 15
                  p.playerAssists.col-md-3 2
                  p.playerDeaths.col-md-3 10
                  p.playerScore.col-md-3 25
      //- div.col-md-2#vs.hidden-xs.hidden-xm.text-center
      //-   p VS
      div.col-md-5.col-md-offset-2.playersTeam#teamT
        div.row.text-center.teamInfo
          h3.col-xs-6.teamName Team T
          h3.col-xs-6.teamScore 14
        div.players
          - for (var x = 0; x < 5; x++)
            div.row.player(class='player'+x)
              img.col-xs-2.hidden-md.hidden-lg.playerImage(src="http://fakeimg.pl/100/")
              div.col-xs-10
                div.row.playerInfo
                  p.playerMoney.col-xs-6 16000
                  p.playerName.text-right.col-xs-6 Matias49
                div.row.playerBars
                  div.row.playerHealth.col-xs-12.col-md-6
                    div.col-xs-2
                      img(src="../images/healthicon.png")
                    div.col-xs-10
                      div.progress
                        div.progress-bar.progress-bar-danger(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;") 30
                  div.row.playerArmor.col-xs-12.col-md-6
                    div.col-xs-2
                      img(src="../images/armorHeadicon.png")
                    div.col-xs-10
                      div.progress
                        div.progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;") 30
                      div.row.moreInfo.hidden-xs.hidden-xm
                div.row.moreInfo.hidden-xs.hidden-xm
                  p.playerKills.col-md-3 15
                  p.playerAssists.col-md-3 2
                  p.playerDeaths.col-md-3 10
                  p.playerScore.col-md-3 25
              img.col-md-2.hidden-xs.hidden-xm.playerImage(src="http://fakeimg.pl/100/")
    div.row#log
      p.col-md-1 Log : 
      p.col-md-11#logText
    div.row#copyright
      p &copy; 2016 Matias49/KwaKze - Open Source, here is the GitHub repo!
