extends layout

block content
  div.container-fluid
      div.row
        h1 CSGO Web Panel
      div.row
        h3 You're about to join the game status. Please choose a theme.
      div.row#intro
        div.col-md-6
          a(href="#{channel}/general")
            img.col-md-12(src="images/themeGeneral.png")
            p.link General Theme
        div.col-md-6
          a(href="#{channel}/team1")
            img.col-md-12(src="images/themeTeam1.png")
            p.link Team 1 Theme
        div.col-md-6
          a(href="#{channel}/team2")
            img.col-md-12(src="images/themeTeam2.png")
            p.link Team 2 Theme
        div.col-md-6
          a(href="#{channel}/mobile")
            img.col-md-12(src="images/themeMobile.png")
            p.link Mobile Theme

