doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CSGO Web Panel
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript') var socket = io.connect('http://127.0.0.1:3001/#{channel}');
    script(src='/javascripts/app.js')
